/.venv/
/dist/
/target/
/Cargo.lock
/build/
/.dart_tool/
/.packages
/pubspec.lock
/mix.lock
/.elixir_ls/
/_build/
/deps/
/doc/
*.beam
*.gem
*.tgz
*.tar
*.jar
*.war
*.nupkg
*.rock
__pycache__/
*.egg-info/
nuget/**/bin/
nuget/**/obj/
blib/
MYMETA.*
Makefile
pm_to_blib
AI Agent Skills-Player-SiteKit-*/
node_modules/
.dart_tool/
pubspec.lock
target/
dist/
doc/
_build/
deps/
mix.lock
*.gem
*.tgz
*.tar
*.tar.gz
*.src.rock
*.nupkg
nuget/**/bin/
nuget/**/obj/
perl/MYMETA.*
perl/Makefile
perl/blib/
perl/pm_to_blib
chocolatey/pkg/
