pkgbase = ai-agent-skills
	pkgdesc = Command-line links for AI Agent Skills
	pkgver = 0.1.1
	pkgrel = 1
	url = https://aiagentskills.net
	arch = any
	license = MIT
	depends = nodejs
	source = https://github.com/bbwdadfg/aiagentskills-site-kit/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 96866a9560295afbeb69a46427b1c1620f179c747add45d44b10d0dd771797bc

pkgname = ai-agent-skills
